body {
    margin: 0;
}

p,
h4,
h3,
h2,
h1,
span,
button {
    transform: rotate(0.03deg);
}

html {
    line-height: 1.15;
}

div,
input,
textarea {
    box-sizing: border-box;
}

.main-background {
    width: 100%;
    height: 700px;
    background-image: url(../기초모듈/img/img03.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    text-align: center;
    position: relative;
}

.main-title {
    color: white;
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.main-content {
    color: white;
    font-size: 24px;
}

.main-btn {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 250px;
    width: 30%;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(238, 237, 239);
}

.explain-box {
    position: relative;
    margin: auto;
    padding: 20px;
    text-align: center;
    top: -80px;
    max-width: 600px;
    width: 80%;
    height: 40%;
    background-color: rgb(238, 237, 239);
    box-sizing: border-box;
}

.box-title {
    margin-top: 30px;
}

.box-content {
    margin-left: 100px;
    margin-right: 100px;
}

.pseudo::first-letter {
    color: red;
    font-size: 2rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.flex-container i {
    color: white;
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    margin-top: 20px;
}

.flex-item {
    width: 25%;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;
    /* 이미지는 보이지 않는 선이 있어서 display block 속성을 주기 전에는 높이가 안맞았음 */
}

.overlay p {
    margin: 0;
    color: white;
    text-align: center;
    padding: 1.5rem;
    font-size: 3rem;
}

.overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    /* 흘러 넘치는거는 숨겨주는 속성!! overflow! */
    overflow: hidden;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 100%;
    opacity: 0;
    transition: all 1s;
}

.overlay-wrap:hover .overlay {
    top: 50%;
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .flex-item {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .flex-item {
        width: 100%;
    }

    .shop-item {
        width: 70%;
        margin: auto;
    }
}

.input_file::file-selector-button {
    background-color: skyblue;
    border: none;
}

.input_file::file-selector-button:hover {
    background: blue;
}

input[type='file']::-webkit-file-upload-button {
    background: black;
    color: white;
}

input::-webkit-input-placeholder {
    color: blue;
}

input[type='range'] {
    appearance: none;
    background-color: lightgray;
    border-radius: 1rem;
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    background-color: green;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
}

progress {
    /*기본 배경은 없애주는게 좋습니다*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    /* IE10 호환성용 */
    color: red;
}
progress::-webkit-progress-bar {
    background-color: lightgray;
    border-radius: 1rem;
}
progress::-webkit-progress-value {
    background-color: red;
    border-radius: 1rem;
}

/*파이어폭스 호환성을 위해*/
progress::-moz-progress-bar {
    background-color: red;
    border-radius: 2px;
}
