@use '_reset';

%box-design {
    width: 200px;
    height: 200px;
    padding: 20px;
}

.box-red {
    @extend %box-design;
    background: reset.$빨강;
}

.box-blue {
    @extend %box-design;
    background: reset.$파랑;
}

.box-green {
    @extend %box-design;
    background: reset.$초록;
}
