body {
    margin: 0;
}

p,
h4,
h3,
h2,
h1,
span,
button {
    transform: rotate(0.03deg);
}

html {
    line-height: 1.15;
}

div,
input,
textarea {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.flex-container i {
    color: white;
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    margin-top: 20px;
}

.flex-item {
    width: 25%;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;
    /* 이미지는 보이지 않는 선이 있어서 display block 속성을 주기 전에는 높이가 안맞았음 */
}

/* 시작스타일은 opacity 0 */
/* 최종스타일은 opcaity 1 */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    /* transition으로 애니메이션 속성 */
    transition: opacity 1s;
}

/* 언제 최종스타일로 변하는지 */
.overlay:hover {
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .flex-item {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .flex-item {
        width: 100%;
    }
}
