@font-face {
    font-family: 'nanum';
    src: url(./NanumSquareB.woff);
}

body {
    margin: 0;
    font-family: 'nanum';
}

p,
h4,
h3,
h2,
h1,
span,
button {
    transform: rotate(0.03deg);
}

html {
    line-height: 1.15;
}

div,
input,
textarea {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: rgb(255, 100, 100);
    color: white;
    height: 70px;
    align-items: center;
}

.navbar-item h3 {
    font-size: 40px;
    font-weight: 900;
    margin-left: 30px;
}

.navbar-item p {
    margin-right: 20px;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 5px;
}

.main-background {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./img/img01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    text-align: center;
    position: relative;
}

.main-title {
    color: white;
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.main-content {
    color: white;
    font-size: 24px;
}

.main-btn {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 250px;
    width: 30%;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(238, 237, 239);
}

.explain-box {
    position: relative;
    margin: auto;
    padding: 20px;
    text-align: center;
    top: -80px;
    max-width: 600px;
    width: 80%;
    height: 40%;
    background-color: rgb(238, 237, 239);
    box-sizing: border-box;
}

.box-title {
    margin-top: 30px;
}

.box-content {
    margin-left: 100px;
    margin-right: 100px;
}

h4 {
    font-size: 30px;
}

p {
    font-size: 20px;
    margin-bottom: 12px;
}

.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

textarea {
    resize: none;
}

.form-long {
    height: 200px;
}

.yellow-button {
    padding: 10px 30px;
    float: right;
    background-color: rgb(255, 191, 53);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .main-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .main-title {
        font-size: 20px;
    }
}
