@use '_setting.scss';

%bg-purple {
    background-color: #484bb3;
}

.sidebar-container {
    position: fixed;
    width: 12rem;
    height: 100vh;
    font-size: 1.2rem;
    color: white;
    z-index: 5;
    @extend %bg-purple;

    a {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
        color: white;
    }

    ul {
        padding-left: 0;

        .sidebar-item {
            margin: 2rem 0 0 1rem;
        }

        span {
            margin-left: 1.4rem;
        }
    }

    transition: all 0.5s;
    transform: translateX(-8.5rem);

    &:hover {
        transform: translateX(0rem);
    }

    i {
        transition: all 0.5s;
        transform: translateX(8.5rem);
    }

    &:hover i {
        transform: translateX(0rem);
    }
}

.navbar-container {
    .nav-link {
        position: relative;

        .badge {
            position: absolute;
            top: 0;
            left: 1rem;
        }

        @media screen and (max-width: 768px) {
            .badge {
                left: 0.5rem;
            }
        }
    }

    input {
        width: 12rem;
        transition: width 1s;
    }
    input:focus {
        width: 22rem;
    }

    @media screen and (max-width: 768px) {
        input {
            width: 100%;
        }

        input:focus {
            width: 100%;
        }
    }
}

.content-container .left {
    .card-body {
        max-height: 6.125rem;

        p {
            font-size: 1rem;
        }

        h4 {
            font-size: 1.25rem;
            font-weight: bold;
        }

        i {
            font-size: 2rem;
            color: gray;
        }
    }
}
